body{
    word-wrap: break-word;
}

.home, .projects, .about{
    color: white;
    background: rgba(0, 0, 0, 0.25);
    border-color: transparent;
    border-radius: 8px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.home:hover, .home:active, .projects:hover, .projects:active, .about:hover, .about:active, #about:hover, #about:active, .email:hover, .email:active{
    background-color: rgba(255, 0, 0, 0.25);
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.5);
    transform: scaleX(1.05);
    outline: none;
}

.name{
    font-size: 60px;
    font-weight: bold;
    z-index: 1;
}

#about{
    background-color: rgb(0, 145, 65);
    font-size: 20px;
    font-weight: bold;
}

.email{
    background-color: rgb(255, 255, 255, 0.25);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 25px;
    border-color: transparent;
    padding: 8px 12px;
    text-decoration: none;
}

.email:hover{
    transform: scaleX(1.05);
}

/*.opener, .profile, #about, .intro{
    position: relative;
    top: 30vh;
}*/

/*.name{
    position: relative;
    left: 8vw;
    top: -12vh;
    font-size: 65px;
}*/

/*.opener{
    position: relative;
    top: 40vh;
    transform: translateX(25vw);
}*/

.opener-row{
    height: 40vh;
}

.subtitle{
    font-style: italic;
}

.profile{
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.35);
}

#profile:hover{
    cursor: pointer;
    animation: zoom forwards 100ms;
    box-shadow: 10px 10px 10px red;
}

@keyframes zoom {
    0% {transform: translateX(0vw);
        width: 100%;}
    100% {transform: translateX(-1vw);
        width: 105%;}
}

.intro-row{
    height: 80vh;
    transform: translateX(10vw);
}

.mid-row{
    height: 40vh;
    transform: translateX(10vw);
}

.footer-row{
    height: 80vh;
    transform: translateX(10vw);
}

.intro{
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.25);
}

.title{
    font-size: 30px;
    font-weight: bold;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 0.95);
}

.experience{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: blueviolet;
}

.introduction{
    font-size: larger;
    color: rgba(255, 255, 255, 0.45);
}

.fade-in-text {
    display: inline-block;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: fadeIn linear 0.75s;
    -webkit-animation: fadeIn linear 0.75s;
    -moz-animation: fadeIn linear 0.75s;
    -o-animation: fadeIn linear 0.75s;
    -ms-animation: fadeIn linear 0.75s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  /*shitty CSS*/
  @media only screen and (max-width < max-height){
      body{
          word-wrap: break-word;
          max-width: fit-content;
      }
      .opener-row{
        height: 10vh;
    }
      .intro-row{
        height: 20vh;
    }
      .mid-row{
        height: 10vh;
    }
      .footer-row{
        height: 20vh;
    }
  }
